Options -MultiViews 
RewriteEngine On 
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteCond %{REQUEST_FILENAME} !-f 
RewriteRule ^([^\.]+)$ $1.php [NC,L] 

# BEGIN Error_Document 

ErrorDocument 400 /upps?p=400 
ErrorDocument 401 /upps?p=401 
ErrorDocument 402 /upps?p=402 
ErrorDocument 403 /upps?p=403 
ErrorDocument 404 /upps?p=404 
ErrorDocument 500 /upps?p=500  

# END Error_Document 
